Package: com.yjb.sslwritehook
Name: SSLWriteHook
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: yjb
Author: yjb
Section: Tweaks
